:global {
  .all {
    color: #444!important;
  }
}


.newsList {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: var(--sys-width);
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 6.25%;
}

.main{
  padding-top: 75px;

  .title {
    font-size: 64px;
    margin-bottom: 50px;

    h1 {
      margin:0;
      letter-spacing: .06em;
      font-weight: 400;
      font-style: normal;
      font-family: "Lato", sans-serif;
      line-height: 1;
      font-size: 64px;
    }

    span {
      color: #333;
      font-size: 25px;
    }
  }

  .detail{
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 24px 0 ;
    transition: .6s;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }

    h1{
      font-size: 14px;
      color: #8e8e8e;
      letter-spacing: .04em;
      font-family: "Lato", sans-serif;
      font-weight: 400;
    }

    p{
      margin-top: 10px;
      font-size: 16px;
      color: #333;
    }
  }

  .pager{
    margin-top: 80px;
    padding: 0 20px 150px;
    display: block;
    color: #333;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    line-height: 1;
    text-align: center;

    span{
    border-bottom: 1px solid #206039;
    color: #206039;
    padding: 10px 12px;

    }
  }
}

.date {
  color: #333;
  margin-bottom: -35px;
}

.newsDetail {
  padding: 0 0 100px;
  margin: 0 auto;
  width: 900px;
}

.detail {
  color: #333;
  white-space: pre-wrap;
  line-height: 2;
}


.return {
  margin-top: 100px;
}
  




