:global {

}


.shop {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 6.25%;
}

.main{
  padding-top: 75px;

  .title {
    font-size: 64px;

    h1 {
      margin:0;
      letter-spacing: .06em;
      font-weight: 400;
      font-style: normal;
      font-family: "Lato", sans-serif;
      line-height: 1;
    }

    span {
      color: #333;
      font-size: 25px;
    }
  }

  .detail{
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding-bottom: 24px;

    h1{
      font-size: 18px;
      color: #8e8e8e;
      letter-spacing: .04em;
      font-family: "Lato", sans-serif;
    }

    p{
      margin-top: 10px;
      font-size: 20px;
      color: #333;
    }
  }

  .pager{
    margin-top: 80px;
    padding: 0 20px 150px;
    display: block;
    color: #333;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    line-height: 1;
    text-align: center;

    span{
    border-bottom: 1px solid #206039;
    color: #206039;
    padding: 10px 12px;

    }
  }
}


  




