:global {
  .all {
    color: #444!important;
  }
}


.prod {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: var(--main-width);
}


.prodWrap {
  display: flex;
  
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 200px;
}


@media screen and (max-width: 768px) {

  .prod {
    width: 100vw;
    padding-top: 75px;
  }



}





















